.card{
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: 40%;
  box-shadow: 0px 0px 5px 2px black;
  margin: auto;
 padding: 20px;
 text-align: center;
}
.parent{
  margin: 100px;

}
h1{
 display: flex;
 justify-content: center;
}
.card input,button{
  
  margin: 2% auto;
}

.card button{
  color: white;
  background-color: blue;
  border: none;
  padding: 10px;
  width: 30%;
}

.data {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ccc;
  padding: 10px;
}
.data div{
  border: 1px solid gray;
 margin:  5px ;
 width: 200px;
}
.data div p{
  border-top: 1px solid gray;
  padding: 5px;
}

.data div h1{
  margin: auto;
}